.bg-dark {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-bottom: 5vh;
}

.bg-light {
  display: flex;
  justify-content: center;
}

/* .navbar-expand {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
} */
